.container {
    width: 81%;
    max-width: 1520px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 108px;
    padding: 100px 0px;
}

.row {
    display: flex;
    align-items: center;
    gap: 62px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content h2 {
    font-size: 32px;
    font-weight: 700;
    color: black;
    line-height: 48px;
    text-transform: uppercase;
}

.content p,
.content li {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: black;
    line-height: 32px;
}

.row:nth-child(even) {
    display: flex;
    align-items: center;
    gap: 62px;
    flex-direction: row-reverse;
}

.container a {
    border-radius: 16px;
    background-color: #545AE8;
    padding: 12px 16px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin-top: 70px;
    width: 177px;
    margin: 0px auto;
    text-align: center;
}


@media screen and (max-width: 500px) {
    .container {
        width: 95%;
        padding: 45px 0px;
        gap: 64px;
    }

    .row,
    .row:nth-child(even) {
        flex-direction: column;
    }

    .row img {
        width: 100%;
        object-fit: cover;
    }

    .container a {
        width: 95%;
    }
}