.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -4%;
    color: #232323;
}

.header p {
    color: #969696;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.group label {
    font-size: 14px;
    line-height: 24px;
    color: black;
    letter-spacing: 0.8px;
    font-weight: 300;
}

.group input {
    width: 100%;
    border: 1px solid #D9D9D9;
    padding: 16px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #9A9A9A;
}

.form button {
    border: 0px;
    background-color: #545AE8;
    padding: 16px 0px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.8px;
    cursor: pointer;
}