.container {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 141px;
}

.container>h2 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    color: #221E1E;
}